h1 {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

img {
    padding-left: 50px;
    margin-top: 50px;
}