div.container-fluid {
    background-color: pink;
}

h1 {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    padding-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    padding-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

img {
    padding-left: 50px;
    margin-top: 50px;
}

iframe {
    padding-left: 50px;
    margin-top: 50px;
}

/* Footer */
footer {
    background-color: pink;
  }

  footer h5{
    color: #e12a95;
    font-weight:700 ;
    font-size: 1.2rem;
  }

  footer p{
    color: blueviolet;
  }

  footer li{
     padding-bottom: 4px;
  }

  footer li a{
    font-size: 0.8rem;
    color:rgb(14, 13, 11)
  }

  footer li a:hover{
    color: #d8d8d8;
  }

  footer li i:hover{
    color: #0b5604;
  }

